@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}
.main {
  height: calc(var(--doc-height) - 6rem);
  overflow: overlay;
  font-family: "Inter", sans-serif;
}
.app-green {
  background: #203b3c;
}
.card_animation_0 {
  transform: translate(0, 10%);
}

.card_animation_1 {
  transform: translate(0, -10%);
  transition: transform 0.6s;
}
